Bootstraping

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib as mpl
import scipy 
import matplotlib.pyplot as plt
from math import log

In [11]:
t_tasas=pd.DataFrame() 
t_tasas["tipo"]= ["O/N","TIIE", "3X1","6X1","9X1","13X1","26X1"
                  ,"39X1","52X1","65X1","91X1","130X1","195X1",
                 "260X1","390X1"]
t_tasas["tasas"]=[0.000624,
0.000624,0.0006655,0.000718,0.000766,0.000817,0.000864,0.0008685,0.000861,0.0008565,0.0008565,0.000857,0.000881,0.000897,0.0009065]
print(t_tasas)

     tipo     tasas
0     O/N  0.000624
1    TIIE  0.000624
2     3X1  0.000665
3     6X1  0.000718
4     9X1  0.000766
5    13X1  0.000817
6    26X1  0.000864
7    39X1  0.000869
8    52X1  0.000861
9    65X1  0.000856
10   91X1  0.000856
11  130X1  0.000857
12  195X1  0.000881
13  260X1  0.000897
14  390X1  0.000906

Vamos a meter fechas inhabiles en un data frame

In [21]:
ric="fechas"
path="C:\\Users\\Brian PÃ©rez\\Documents\\Octavo\\Derivados\\Derivatives_Boots\\"+ric+".csv" 
raw_data=pd.read_csv(path)
print(raw_data)

t_dias_in=pd.DataFrame()
t_dias_in["fechas"]=pd.to_datetime(raw_data["Fechas"],dayfirst=True)

         Fechas
0    01/01/2022
1    07/02/2022
2    21/03/2022
3    14/04/2022
4    15/04/2022
..          ...
189  16/09/2039
190  02/11/2039
191  21/11/2039
192  12/12/2039
193  25/12/2039

[194 rows x 1 columns]

Tenemos que crear un calendario

In [24]:
calendario=pd.DataFrame() 

calendario["fechas"]= pd.to_datetime(raw_data["Fechas"],dayfirst=True) 
calendario.head()

      fechas
0 2022-01-01
1 2022-02-07
2 2022-03-21
3 2022-04-14
4 2022-04-15

Tenemos que calcular factores de descuento $P(0,1d)= e^{- 0.000624 \tau(0,1d)}$